node {
	text-style: bold;
	text-color: #153297;
	text-size: 15%;
	text-background-mode: plain;
	padding: 5px;
	fill-color: rgba(255, 255, 255, 200);
	text-background-color: rgba(255, 255, 255, 100);
    size: 30%;
    size-mode: fit;
}

edge {
	text-size: 15%;
	size: 2.0;
	arrow-size: 5.0;
	text-background-mode: plain;
	text-alignment: center;
	text-background-color: rgba(255, 255, 255, 200);
    fill-color: rgba(255, 255, 255, 0);
}

node:selected {
	text-size: 55%;
}

node.racine {
	text-color: #186c0f;
}

node.full {
    text-color: #ff0000;
}

node:clicked {
	fill-color: #f6f6f6;
	text-background-color: #f6f6f6;
}

node.load {

    text-size: 1%;
	fill-mode: image-scaled; 
	fill-image: url('load.gif');
	
    
    text-color: rgba(255, 255, 255, 0);
    text-background-color: rgba(255, 255, 255, 0);
}

edge.negatif {
	size: 5;
	fill-color: #ff0000;
}

edge.r_raff_sem {
	fill-color: grey;
	text-color: #666666;
	text-size: 15%;
}

edge.r_associated {
	fill-color: #ff8080aa;
	text-color: #666666;
	text-size: 15%;
}

edge.r_raff_morpho {
	fill-color: rgb(10, 248, 160);
}

edge.r_domain {
	fill-color: rgb(157, 152, 172);
}

edge.r_pos {
	fill-color: rgb(148, 56, 84);
}

edge.r_syn {
	fill-color: rgb(68, 190, 73);
}

edge.r_isa {
	fill-color: rgb(60, 162, 107);
}

edge.r_anto {
	fill-color: rgb(162, 178, 45);
}

edge.r_hypo {
	fill-color: rgb(129, 116, 33);
}

edge.r_has_part {
	fill-color: rgb(92, 92, 168);
}

edge.r_holo {
	fill-color: rgb(21, 2, 57);
}

edge.r_locution {
	fill-color: rgb(12, 162, 164);
}

edge.r_flpot {
	fill-color: rgb(53, 244, 14);
}

edge.r_agent {
	fill-color: rgb(86, 12, 185);
}

edge.r_patient {
	fill-color: rgb(159, 38, 49);
}

edge.r_lieu {
	fill-color: rgb(55, 137, 224);
}

edge.r_instr {
	fill-color: rgb(119, 75, 108);
}

edge.r_carac {
	fill-color: rgb(111, 58, 79);
}

edge.r_data {
	fill-color: rgb(219, 193, 199);
}

edge.r_lemma {
	fill-color: rgb(95, 84, 40);
}

edge.r_magn {
	fill-color: rgb(211, 195, 245);
}

edge.r_antimagn {
	fill-color: rgb(51, 235, 179);
}

edge.r_family {
	fill-color: rgb(194, 88, 95);
}

edge.r_carac_1 {
	fill-color: rgb(170, 17, 52);
}

edge.r_agent_1 {
	fill-color: rgb(184, 193, 81);
}

edge.r_instr_1 {
	fill-color: rgb(123, 244, 56);
}

edge.r_patient_1 {
	fill-color: rgb(126, 148, 227);
}

edge.r_domain_1 {
	fill-color: rgb(100, 104, 254);
}

edge.r_lieu_1 {
	fill-color: rgb(178, 240, 84);
}

edge.r_chunk_pred {
	fill-color: rgb(239, 98, 203);
}

edge.r_lieu_action {
	fill-color: rgb(14, 249, 90);
}

edge.r_action_lieu {
	fill-color: rgb(146, 163, 21);
}

edge.r_sentiment {
	fill-color: rgb(16, 150, 217);
}

edge.r_error {
	fill-color: rgb(103, 203, 188);
}

edge.r_manner {
	fill-color: rgb(47, 110, 137);
}

edge.r_meaning {
	fill-color: rgb(251, 198, 60);
}

edge.r_infopot {
	fill-color: rgb(35, 129, 156);
}

edge.r_telic_role {
	fill-color: rgb(38, 110, 38);
}

edge.r_agentif_role {
	fill-color: rgb(218, 109, 84);
}

edge.r_verbe_action {
	fill-color: rgb(171, 216, 27);
}

edge.r_action_verbe {
	fill-color: rgb(96, 110, 135);
}

edge.r_conseq {
	fill-color: rgb(211, 179, 154);
}

edge.r_causatif {
	fill-color: rgb(78, 235, 126);
}

edge.r_adj_verbe {
	fill-color: rgb(25, 103, 187);
}

edge.r_verbe_adj {
	fill-color: rgb(158, 248, 57);
}

edge.r_chunk_sujet {
	fill-color: rgb(146, 213, 136);
}

edge.r_chunk_objet {
	fill-color: rgb(6, 107, 247);
}

edge.r_chunk_loc {
	fill-color: rgb(204, 135, 21);
}

edge.r_chunk_instr {
	fill-color: rgb(20, 12, 17);
}

edge.r_time {
	fill-color: rgb(238, 143, 84);
}

edge.r_object_mater {
	fill-color: rgb(22, 106, 41);
}

edge.r_mater_object {
	fill-color: rgb(121, 26, 190);
}

edge.r_successeur_time {
	fill-color: rgb(128, 54, 62);
}

edge.r_make {
	fill-color: rgb(70, 105, 85);
}

edge.r_product_of {
	fill-color: rgb(181, 96, 204);
}

edge.r_against {
	fill-color: rgb(65, 153, 119);
}

edge.r_against_1 {
	fill-color: rgb(127, 197, 78);
}

edge.r_implication {
	fill-color: rgb(183, 238, 134);
}

edge.r_quantificateur {
	fill-color: rgb(84, 134, 134);
}

edge.r_masc {
	fill-color: rgb(119, 59, 106);
}

edge.r_fem {
	fill-color: rgb(106, 183, 96);
}

edge.r_equiv {
	fill-color: rgb(11, 97, 108);
}

edge.r_manner_1 {
	fill-color: rgb(3, 183, 218);
}

edge.r_agentive_implication {
	fill-color: rgb(47, 192, 107);
}

edge.r_has_instance {
	fill-color: rgb(243, 100, 158);
}

edge.r_verb_real {
	fill-color: rgb(181, 149, 212);
}

edge.r_chunk_head {
	fill-color: rgb(180, 203, 240);
}

edge.r_similar {
	fill-color: rgb(6, 90, 24);
}

edge.r_set_item {
	fill-color: rgb(110, 105, 85);
}

edge.r_item_set {
	fill-color: rgb(136, 21, 214);
}

edge.r_processus_agent {
	fill-color: rgb(169, 5, 45);
}

edge.r_variante {
	fill-color: rgb(63, 59, 6);
}

edge.r_syn_strict {
	fill-color: rgb(19, 81, 62);
}

edge.r_is_smaller_than {
	fill-color: rgb(12, 217, 108);
}

edge.r_is_bigger_than {
	fill-color: rgb(55, 192, 72);
}

edge.r_accomp {
	fill-color: rgb(76, 212, 76);
}

edge.r_processus_patient {
	fill-color: rgb(82, 215, 173);
}

edge.r_verb_ppas {
	fill-color: rgb(202, 174, 132);
}

edge.r_cohypo {
	fill-color: rgb(56, 173, 39);
}

edge.r_verb_ppre {
	fill-color: rgb(157, 152, 179);
}

edge.r_der_morpho {
	fill-color: rgb(106, 253, 174);
}

edge.r_has_auteur {
	fill-color: rgb(90, 163, 27);
}

edge.r_has_personnage {
	fill-color: rgb(74, 196, 85);
}

edge.r_can_eat {
	fill-color: rgb(63, 218, 124);
}

edge.r_has_actors {
	fill-color: rgb(60, 130, 176);
}

edge.r_deplac_mode {
	fill-color: rgb(88, 155, 141);
}

edge.r_has_interpret {
	fill-color: rgb(180, 4, 72);
}

edge.r_color {
	fill-color: rgb(27, 233, 187);
}

edge.r_cible {
	fill-color: rgb(94, 63, 26);
}

edge.r_symptomes {
	fill-color: rgb(77, 218, 15);
}

edge.r_predecesseur_time {
	fill-color: rgb(30, 150, 58);
}

edge.r_diagnostique {
	fill-color: rgb(60, 192, 59);
}

edge.r_predecesseur_space {
	fill-color: rgb(42, 120, 0);
}

edge.r_successeur_space {
	fill-color: rgb(2, 36, 113);
}

edge.r_social_tie {
	fill-color: rgb(68, 226, 108);
}

edge.r_tributary {
	fill-color: rgb(11, 232, 241);
}

edge.r_sentiment_1 {
	fill-color: rgb(115, 228, 34);
}

edge.r_linked_with {
	fill-color: rgb(22, 177, 65);
}

edge.r_foncteur {
	fill-color: rgb(148, 162, 21);
}

edge.r_comparison {
	fill-color: rgb(61, 211, 97);
}

edge.r_but {
	fill-color: rgb(76, 116, 81);
}

edge.r_but_1 {
	fill-color: rgb(108, 59, 126);
}

edge.r_own {
	fill-color: rgb(20, 14, 230);
}

edge.r_own_1 {
	fill-color: rgb(179, 154, 166);
}

edge.r_verb_aux {
	fill-color: rgb(134, 147, 71);
}

edge.r_predecesseur_logic {
	fill-color: rgb(204, 186, 68);
}

edge.r_successeur_logic {
	fill-color: rgb(236, 119, 134);
}

edge.r_isa_incompatible {
	fill-color: rgb(183, 129, 170);
}

edge.r_incompatible {
	fill-color: rgb(168, 23, 52);
}

edge.r_node2relnode {
	fill-color: rgb(177, 86, 187);
}

edge.r_require {
	fill-color: rgb(158, 119, 171);
}

edge.r_is_instance_of {
	fill-color: rgb(126, 121, 137);
}

edge.r_is_concerned_by {
	fill-color: rgb(219, 102, 21);
}

edge.r_compl_agent {
	fill-color: rgb(128, 161, 2);
}

edge.r_beneficiaire {
	fill-color: rgb(3, 77, 49);
}

edge.r_descend_de {
	fill-color: rgb(247, 71, 13);
}

edge.r_domain_subst {
	fill-color: rgb(95, 235, 252);
}

edge.r_prop {
	fill-color: rgb(131, 122, 114);
}

edge.r_activ_voice {
	fill-color: rgb(222, 146, 46);
}

edge.r_make_use_of {
	fill-color: rgb(121, 107, 120);
}

edge.r_is_used_by {
	fill-color: rgb(29, 57, 55);
}

edge.r_adj_nomprop {
	fill-color: rgb(42, 94, 115);
}

edge.r_nomprop_adj {
	fill-color: rgb(192, 164, 71);
}

edge.r_adj_adv {
	fill-color: rgb(249, 152, 122);
}

edge.r_adv_adj {
	fill-color: rgb(47, 127, 65);
}

edge.r_homophone {
	fill-color: rgb(41, 131, 2);
}

edge.r_potential_confusion {
	fill-color: rgb(223, 24, 50);
}

edge.r_translation {
	fill-color: rgb(84, 125, 165);
}

edge.r_link {
	fill-color: rgb(50, 37, 154);
}

edge.r_cooccurrence {
	fill-color: rgb(122, 174, 154);
}

edge.r_aki {
	fill-color: rgb(73, 142, 138);
}

edge.r_wiki {
	fill-color: rgb(9, 186, 225);
}

edge.r_annotation_exception {
	fill-color: rgb(179, 253, 181);
}

edge.r_annotation {
	fill-color: rgb(31, 162, 237);
}

edge.r_inhib {
	fill-color: rgb(190, 86, 113);
}

edge.r_prev {
	fill-color: rgb(98, 23, 38);
}

edge.r_succ {
	fill-color: rgb(174, 51, 83);
}

edge.r_termgroup {
	fill-color: rgb(40, 42, 60);
}

edge.r_learning_model {
	fill-color: rgb(232, 141, 185);
}

/* 
"fill-mode" ...
    "fill-color" ...
    "fill-image" ...
    "stroke-mode" ...
    "stroke-color" ...
    "stroke-width" ...
    "shadow-mode" ...
    "shadow-color" ...
    "shadow-width" ...
    "shadow-offset" ...
    "text-mode" ...
    "text-color" ...
    "text-style" ...
    "text-font" ...
    "text-size" ...
    "text-visibility-mode" ...
    "text-visibility" ...
    "text-background-mode" ...
    "text-background-color" ...
    "text-offset" ...
    "text-padding" ...
    "icon-mode" ...
    "icon" ...
    "padding" ...
    "z-index" ...
    "visibility-mode" ...
    "visibility" ...
    "shape" ...
    "size" ...
    "size-mode" ...
    "shape-points" ...
    "text-alignment" ...
    "jcomponent" ...
    "arrow-image" ...
    "arrow-size" ...
    "arrow-shape" ...
    "sprite-orientation" ...
    "canvas-color" ...
    <COMMENT_ ...
*/